$font-size:  1.4rem !default;
$font-weight:   400 !default;
$font-weights: (
  '300': 300,
  '400': 400,
  '500': 500,
  '600': 600,
  '700': 700,
  '800': 800,
  '900': 900,
);

$font-style: normal !default;
$line-height: 1.375 !default;

// $margin:  20px !default;
// $padding: 20px !default;

$page-width-extra-narrow: 450px !default;
$page-width-narrow:       675px !default;
$page-width:              900px !default;
$page-width-wide:        1000px !default;
$page-width-extra-wide:  1440px !default;

$grid-columns:        12 !default;
$grid-default-size: 'x2' !default;
$grid-sizes: (
  'x0':    0,
  'x1':   10,
  // 'x1_5': 15,
  'x2':   20,
  'x3':   30,
  'x4':   40,
  // 'x6':   60,
  'x8':   80,
  // 'x9':   90,
  // 'x10': 100,
  // 'x12': 120,
  // 'x14': 140,
  'x16': 160,
) !default;


$breakpoint-sizes: (
  'small':          0px,
  'medium':       640px,
  'large':       1024px,
  'extra-large': 1440px,
) !default;
$sidebar-sizes: (
  'small': calc(100% - 80px),
  'medium':            200px,
  'large':             240px,
  'extra-large':       240px,
) !default;
$sidebar-compact-sizes: (
  'small':        0px,
  'medium':      86px,
  'large':       86px,
  'extra-large': 86px,
) !default;
// $breakpoint-vertical-sizes: (
//   'small':          0px,
//   'medium':       640px,
//   'large':        640px + (1024px - 640px) / 2,
//   'extra-large': 1024px,
// ) !default;
$breakpoints: null !default;
@if $breakpoints == null {
  $breakpoints: ();
  @each $key, $size in $breakpoint-sizes {
    $breakpoints: map-merge($breakpoints, ($key: (min-width: $size)))
  }
}
$breakpoints-sidebar: null !default;
@if $breakpoints-sidebar == null {
  $breakpoints-sidebar: ();
  @each $key, $size in $breakpoint-sizes {
    $sidebar-size: map-get($sidebar-sizes, $key);
    $type: type-of($sidebar-size);
    @if $type == number {
      $breakpoints-sidebar: map-merge($breakpoints-sidebar, ($key: (min-width: #{$size + map-get($sidebar-sizes, $key)})))
    } @else {
      $breakpoints-sidebar: map-merge($breakpoints-sidebar, ($key: (min-width: $size)))
    }
  }
}
$breakpoints-sidebar-compact: null !default;
@if $breakpoints-sidebar-compact == null {
  $breakpoints-sidebar-compact: ();
  @each $key, $size in $breakpoint-sizes {
    $sidebar-size: map-get($sidebar-compact-sizes, $key);
    $type: type-of($sidebar-size);
    @if $type == number {
      $breakpoints-sidebar-compact: map-merge($breakpoints-sidebar-compact, ($key: (min-width: #{$size + map-get($sidebar-compact-sizes, $key)})))
    } @else {
      $breakpoints-sidebar-compact: map-merge($breakpoints-sidebar-compact, ($key: (min-width: $size)))
    }
  }
}

$black:                   #000000 !default;
$white:                   #ffffff !default;
$red:                     #ff4f4f !default;
$green:                   #4fff4f !default;

$primary-color:           #4880ff !default;
$secondary-color:         #202224 !default;

$primary-alt-color:       #ffffff !default;
$secondary-alt-color:     #f5f6fa !default;
$tertiary-alt-color:      #fafafa !default;

$primary-alt-tint-red:    mix($red, $primary-alt-color, 25%) !default;

$border-color:            #B9B9B9 !default;

$success-color:           $green !default;
$error-color:             $red !default;
$warning-color:           orange  !default;

$background-color:        $secondary-alt-color !default;
$background-dark-color:   darken($background-color, 1.5625%) !default;
$background-darker-color: darken($background-dark-color, 1.5625%) !default;

$text-color:              $secondary-color !default;
$text-alt-color:          lighten($text-color, 40%) !default;

$colors: (
  'primary':              $primary-color,
  'primary-rgb':          hexToRgb($primary-color),
  'secondary':            $secondary-color,
  'primary-alt':          $primary-alt-color,
  'primary-alt-tint-red': $primary-alt-tint-red,
  'secondary-alt':        $secondary-alt-color,
  'tertiary-alt':         $tertiary-alt-color,
  'black':                $black,
  'white':                $white,
  'red':                  $red,
  'green':                $green,
  'background':           $background-color,
  'background-dark':      $background-dark-color,
  'background-darker':    $background-darker-color,
  'text':                 $text-color,
  'text-alt':             $text-alt-color,
  'text-rgb':             hexToRgb($text-color),
  'success':              $success-color,
  'error':                $error-color,
  'warning':              $warning-color,
  'border':               $secondary-alt-color,
) !default;

$colors-extra: () !default;

$colors: map-merge($colors, $colors-extra);

$primary-font-family: '' !default;

$border-radius-small:   5px;
$border-radius:         15px;
$border-radius-large:   30px;
