$primary-color-dark:         #4880ff !default;
$secondary-color-dark:       #ffffff !default;

$primary-alt-color-dark:     #273142 !default;
$secondary-alt-color-dark:   #1b2431 !default;
$tertiary-alt-color-dark:    #323d4e !default;

$background-color-dark:      $secondary-alt-color-dark !default;
$background-dark-color-dark: darken($background-color-dark, 1.5625%) !default;
$text-color-dark:            $secondary-color-dark !default;

$error-color-dark:          #ff4f4f !default;
$warning-color-dark:        orange  !default;

$colors-dark: (
  'primary':                 $primary-color-dark,
  'primary-rgb':             hexToRgb($primary-color-dark),
  'secondary':               $secondary-color-dark,
  'primary-alt':             $primary-alt-color-dark,
  'secondary-alt':           $secondary-alt-color-dark,
  'tertiary-alt':            $tertiary-alt-color-dark,
  'black':                   $black,
  'white':                   $white,
  'background':              $background-color-dark,
  'background-dark':         $background-dark-color-dark,
  'text':                    $text-color-dark,
  'text-rgb':                hexToRgb($text-color-dark),
  'error':                   $error-color-dark,
  'warning':                 $warning-color-dark,
) !default;
