.page-content {
  padding: 20px 0;
  border-radius: 10px;
  @include var('background-color', 'primary-alt');
  @include breakpoint(medium) {
    padding: 40px 0;
  }
  @include breakpoint(large) {
    padding: 80px 0;
  }
}
