body {
  &.body_resizing {
    .site-content {
      transition: none;
    }
  }
}
.site {
  &_initial-load {
    .site-content {
      transition: none;
    }
  }
}
.site-content {
  flex: 1 0 auto;
  padding: (80px + 20px) 0 40px;
  @include var('background-color', 'secondary-alt');
  transition: padding-left 0.25s ease;
  @include breakpoint(medium) {
    padding: (80px + 30px) 0 60px;
  }
  @include breakpoint(large) {
    padding: (80px + 40px) 0 80px;
  }
}
.site-sidebar {
  &_active {
    +.site-content {
      @include breakpoint(medium) {
        padding-left: 200px;
      }
      @include breakpoint(large) {
        padding-left: 240px;
      }
    }
    &.site-sidebar_compact {
      +.site-content {
        @include breakpoint(medium) {
          padding-left: 100px;
        }
      }
    }
  }
}
