body {
  &.body_resizing {
    .site-sidebar {
      transition: none;
    }
  }
}
.site {
  &_initial-load {
    .site-sidebar {
      transition: none;
    }
  }
}

.site-sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  padding: 20px;
  border-top: 1px solid;
  @include var('border-color', 'primary');
  @include var('background-color', 'primary-alt');
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: width 0.25s ease, transform 0.25s ease;
  @include breakpoint(medium) {
    width: 200px;
  }
  @include breakpoint(large) {
    width: 240px;
  }
  &_active {
    transform: translateX(0);
  }
  &_compact {
    width: 100px;
    .site-sidebar-menu-item-button-text {
      opacity: 0;
    }
    .site-sidebar-profile {
      .profile-content {
        opacity: 0;
      }
    }
  }
}

.site-sidebar-menu-item {
  position: relative;
  margin: 0 0 10px;
  &:last-child {
    margin: 0;
  }
}
.site-sidebar-menu-item-button {
  display: block;
  width: 100%;
  background-color: transparent;
  @include var('color', 'text');
  text-align: left;
  // text-overflow: ellipsis;
  white-space: nowrap;
  // overflow: hidden;
  &:hover {
    @include var('background-color', 'primary');
    @include var('color', 'white');
  }
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    @include var('background-color', 'primary');
  }
  &_active {
    &:after {
      display: block;
    }
  }
}
.site-sidebar-menu-item-button-icon {
  width: 20px;
  margin: 0 10px 0 0;
  text-align: center;
}
.site-sidebar-menu-item-button-text {
  transition: opacity 0.25s ease;
}

.site-sidebar-search {
  margin: 0 0 20px;
  @include breakpoint(medium) {
    display: none;
  }
}
.site-sidebar-menu {
  margin: 0 0 40px;
  &:last-child {
    margin: 0;
  }
}
.site-sidebar-profile {
  @include breakpoint(large) {
    display: none;
  }
  .profile-content {
    transition: opacity 0.25s ease;
  }
}
