.site-sidebar {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  height: 100%;
  width: calc(100% - 80px);
  padding: 20px;
  background-color: $white;
  z-index: 100;
  @include breakpoint(medium) {
    width: 160px;
  }
  @include breakpoint(large) {
    width: 240px;
  }
  &.site-sidebar_active {
    display: block;
  }
}

.site-sidebar-menu-item {
  margin: 0 0 10px;
  &:last-child {
    margin: 0;
  }
  >.button {
    display: block;
    text-align: left;
  }
}

.site-sidebar-menu-item-space {
  height: 40px;
  margin: -10px 0 0;
}
