.right-sidebar {
  $right-sidebar-width: 300px;
  position: relative;
  align-self: stretch;
  z-index: 90;
  width: $right-sidebar-width;
  left: 0;
  margin-top: -20px;
  margin-bottom: -40px;
  @include breakpoint(medium) {
    margin-top: -30px;
  }
  @include breakpoint(large) {
    margin-top: -40px;
  }
  &.no-header {
    margin-top: -20px;
  }
  &_open {
    left: -$right-sidebar-width;
  }
  transition: left 0.25s ease;
  overflow: hidden;
  &:before {
    content: '';
    position: fixed;
    transition: width 0.25s ease;
    right: 0;
    width: 0;
    top: 0;
    bottom: 0;
    @include var('background-color', 'primary-alt');
  }
  &_open:before {
    width: 300px;
  }
  &-icon {
    @include var('color', 'text');
    @include var('background-color', 'primary-alt');
    padding: 10px;
    position: fixed;
    top: 80px;
    right: 0;
    font-size: 2rem;
    border-radius: 0 0 0 5px;
    z-index: 90;
    transition: right 0.25s ease;
    &:hover {
      opacity: 1;
      @include var('color', 'text');
    }
  }
  &_open &-icon {
    right: $right-sidebar-width;
  }
  &-container {
    position: relative;
    &_hide {
      display: none;
    }
  }
}
