.select {
  &-container {
    position: relative;
    min-width: 160px;
    &_stretch {
      width: 100%;
    }
  }
  &__control {
    display: flex;
    outline: 0 !important; // ?
    border-radius: 5px;
    @include var('background-color', 'background');
    cursor: default;
    &--is-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &__value-container {
    flex: 1;
    position: relative;
    padding: 16px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    // &--has-value {}
    &--is-multi {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      overflow: hidden;
      &.select__value-container--has-value {
        padding: 6.5px 15px;
      }
    }
  }
  &__single-value {
    position: absolute;
    max-width: calc(100% - #{15px * 2});
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__multi-value {
    @include var('background-color', 'background');
    border-radius: 2px;
    display: flex;
    margin: 2px;
    min-width: 0;
    &__label {
      border-radius: 2px;
      font-size: 85%;
      overflow: hidden;
      padding: 3px;
      padding-left: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__remove {
      align-items: center;
      border-radius: 2px;
      display: flex;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  // &__input {}
  &__indicators {
    display: flex;
  }
  &__indicator-separator {
    display: none;
  }
  &__loading-indicator {
    display: flex;
    align-items: center;
    >span {
      height: 5px;
      width: 5px;
      margin: 0 5px 0 0;
      border-radius: 50%;
      @include var('background-color', 'primary');
      &:nth-child(1) {
        animation: animation-stj4i2 1s ease-in-out 0ms infinite;
      }
      &:nth-child(2) {
        animation: animation-stj4i2 1s ease-in-out 160ms infinite;
      }
      &:nth-child(3) {
        animation: animation-stj4i2 1s ease-in-out 320ms infinite;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  &__dropdown-indicator {
    width: 15px + 12.5px + 15px;
    background-image: url('/dashboard-assets/images/select-arrow.svg');
    background-size: 12.5px auto;
    background-repeat: no-repeat;
    background-position: center;
    >svg {
      display: none;
    }
  }
  &__clear-indicator {
    position: relative;
    width: 10px;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 12.5px;
      border-radius: 1px;
      background-color: #bcbcbc;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    >svg {
      display: none;
    }
  }
  &__input {
    >input {
      margin: 0;
      border-radius: 0;
    }
  }

  &__group {
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 5px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &__group-heading {
    padding: 5px 15px;
    color: var(--text-alt-color);
  }

  &__menu {
    position: absolute;
    width: 100%;
    margin: 10px 0 0;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba($black, 0.125);
    @include add-border;
    @include var('background-color', 'primary-alt');
    font-size: 1.2rem;
    overflow: hidden;
    z-index: 200;
  }
  &__menu-list {
    max-height: 250px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__menu-notice {
    padding: 10px 15px;
  }
  &__option {
    padding: 10px 15px;
    cursor: default;
    user-select: none;
    -webkit-tap-highlight-color: rgba($black, 0);
    &--is-focused {
      @include var('background-color', 'primary-rgb', 'rgba', 0.125);
      &:active {
        @include var('background-color', 'primary-rgb', 'rgba', 0.25);
      }
    }
    &--is-disabled {
      color: hsl(0, 0%, 50%);
    }
    &--is-selected {
      @include var('background-color', 'primary');
      color: $white;
      &:active {
        @include var('background-color', 'primary-rgb', 'rgba', 0.75);
      }
    }
  }
}
