.page-title {
  margin: 0 0 20px;
  @include breakpoint(medium) {
    margin: 0;
  }
}

// .preamble {
//   color: $secondary-alt-color;
//   font-size: 2rem;
//   @include breakpoint(medium) {
//     font-size: 2.4rem;
//   }
//   @include breakpoint(large) {
//     font-size: 2.8rem;
//   }
// }

.visually-hidden {
  @include visually-hidden;
}

.title-select {
  @include breakpoint(medium) {
    width: 250px;
  }
}

:focus {
  outline: transparent auto 0px;
}
