@layer base {
  .disabled {
    @apply opacity-60;
  }
  textarea {
    height: calc(theme('spacing.4') + theme('fontSize.base.1.lineHeight') + 2px);
    min-height: calc(theme('spacing.4') + theme('fontSize.base.1.lineHeight') + 2px);
    @screen sm {
      height: calc(theme('spacing.4') + theme('fontSize.sm.1.lineHeight') + 2px);
      min-height: calc(theme('spacing.4') + theme('fontSize.sm.1.lineHeight') + 2px);
    }
  }
  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='week'],
  textarea {
    @apply bg-white dark:bg-gray-900 focus:ring-indigo-500 dark:focus:ring-indigo-300 focus:border-indigo-500 dark:focus:border-indigo-300 text-base sm:text-sm border-gray-300 dark:border-gray-700 rounded-lg py-2 px-4;
    &:disabled {
      @apply disabled;
    }
    .no-outline &, &.no-outline {
      @apply ring-transparent border-none !important;
    }
  }

  button {
    &:disabled {
      @apply disabled;
    }
  }
}