.dashboard-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 20px 0;
  @include var('background-color', 'primary-alt');
  z-index: 100;
  >.container {
    flex: 0 0 100%;
  }
}

.dashboard-header-cell {
  flex: 0 0 auto;
  &_sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    @include breakpoint(medium) {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
  &_logo {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    @include breakpoint(medium) {
      flex: 0 0 auto;
      max-width: 100%;
      text-align: left;
    }
  }
  &_search {
    flex: 1 0 auto;
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
    >input {
      max-width: $page-width / 2;
    }
  }
  &_contact {
    flex: 0 0 25%;
    display: flex;
    max-width: 25%;
    justify-content: flex-end;
    @include breakpoint(medium) {
      flex: 0 0 auto;
      display: block;
      max-width: 100%;
    }
  }
  &_profile {
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
}

.dashboard-header-sidebar-button {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: transparent;
  @include var('color', 'text');
  &:hover,
  &:active {
    @include var('color', 'primary');
    opacity: 1;
  }
  &:active {
    opacity: 0.875;
  }
}
.dashboard-header-sidebar-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}