// TODO: Outline.

button,
.button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  display: inline-block;
  margin: 0 0 20px;
  padding: 10px 20px;
  &:not(.no-button) {
    outline: none;
  }
  border: none;
  border-radius: 5px;
  @include var('background-color', 'primary');
  @include var('color', 'white');
  // letter-spacing: 0.125em;
  // text-decoration: none;
  // text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  &:hover {
    @include var('color', 'white');
    text-decoration: none;
  }
  &:hover,
  &:active {
    opacity: 0.9375;
  }
  &:active {
    opacity: 0.875;
  }
  // &:disabled {
  //   cursor: not-allowed;
  // }
  .dashboard-sidebar &:last-child {
    margin-bottom: 0;
  }
  // html[data-whatinput='mouse'] & {
  //   outline: none;
  // }
  &[disabled] {
    opacity: 0.5;
    cursor: wait;
  }
  &[disabled].no-loading {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.type_error {
    @include var('background-color', 'error');
  }
  &.type_success {
    @include var('background-color', 'success');
  }
  &.type_warning {
    @include var('background-color', 'warning');
  }
  &.no-button{
    display: inline;
    margin: 0;
    border-radius: 0;
    background: none;
    text-align: left;
    @include var('color', 'text');
  }
}
