h1, .h1, .h1-size {
  font-size: 3.2rem;
}
h2, .h2, .h2-size {
  font-size: 2.8rem;
}
h3, .h3, .h3-size {
  font-size: 2.4rem;
}
h4, .h4, .h4-size {
  font-size: 1.6rem;
}
h5, .h5, .h5-size {
  font-size: 1.4rem;
}
h6, .h6, .h6-size {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 20px;
  @include var('color', 'text');
  font-weight: 700;
  line-height: 1;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  p +&, ul +&, ol +& {
    margin-top: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
