.tooltip-style {
  background-color: var(--primary-alt-color) !important;
  opacity: 1 !important;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  &.place-top {
    &:after {
      border-top-color: var(--primary-alt-color) !important;
    }
  }
}
