@use "sass:math";

.form-item {
  margin: 0 0 20px;
  &:last-child {
    margin: 0;
  }
  label,
  .label {
    margin: 0 0 10px;
    @include var('color', 'text');
    &:last-child {
      margin: 0;
    }
  }
}
.form-button {
  display: block;
  width: 100%;
  max-width: math.div($page-width, 4);
  margin: 0 auto;
}
