select {
  padding: 10px (15px + 12.5px + 15px) 10px 15px;
  background-image: url('/dashboard-assets/images/select-arrow.svg');
  background-size: 12.5px auto;
  background-repeat: no-repeat;
  background-position: right 15px center;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
[type='file'],
textarea,
select {
  display: block;
  // height: auto;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  @include var('background-color', 'background-dark');
  &:focus {
    @include var('background-color', 'background-darker');
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .page-content & {
    @include var('background-color', 'background');
    &:focus {
      @include var('background-color', 'background-dark');
    }
  }
  &::placeholder {
    @include var('color', 'text-rgb', 'rgba', 0.5);
  }
}

input[type="radio"] {
  +label {
    &:before {
      border-radius: 50%;
    }
    &:after {
      border-radius: 50%;
    }
  }
}
input[type="checkbox"] {
  +label {
    &:before {
      border-radius: 5px;
    }
    &:after {
      border-radius: 2.5px;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  @include visually-hidden;
  margin: 20px 0 0 (20px / 2);
  +label {
    position: relative;
    padding: 0 0 0 20px + 10px;
    user-select: none;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
    }
    &:before {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 20px;
      width: 20px;
      @include var('background-color', 'background-dark');
      .page-content & {
        @include var('background-color', 'background');
      }
    }
    &:after {
      display: none;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      height: 10px;
      width: 10px;
      background-color: $primary-color;
    }
  }
  &:disabled +label {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:focus,
  &:active {
    +label {
      &:before {
        @include var('background-color', 'background-darker');
        .page-content & {
          @include var('background-color', 'background-dark');
        }
      }
    }
  }
  &:checked {
    +label {
      &:after {
        display: block;
      }
    }
  }
}
