.dashboard-header-profile,
.dashboard-header-contact {
  display: flex;
  align-items: center;
}
.dashboard-header-profile-image,
.dashboard-header-contact-image {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  @include var('background-color', 'primary-rgb', 'rgba', 0.25);
}
