.contact {
  display: flex;
  align-items: center;
}
.contact-image {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  @include var('background-color', 'primary-rgb', 'rgba', 0.25);
  overflow: hidden;
  @include breakpoint(medium) {
    display: block;
  }
  >img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.contact-modal-image {
  position: relative;
  border-radius: 50%;
  @include var('background-color', 'primary-rgb', 'rgba', 0.25);
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    padding: 0 0 100%;
  }
  >img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
