.datepicker-container {
  position: relative;
  .select {
    &__group-heading {
      cursor: default;
      margin-bottom: 24px;
      text-align: center;
      text-transform: uppercase;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;
      &__label {
        text-transform: capitalize;
        flex-grow: 1;
        text-align: left;
      }
      &__button {
        margin-bottom: 0;
        padding: 6px 8px 2px 8px;
        @include var('background-color', 'border');
        &:last-child{
          margin-left: 10px;
        }
        &__icon {
          font-size: 1.4rem;
        }
        &__label {
          display: none;
        }
      }
    }
    &__menu {
      border-radius: $border-radius-large;
      &-list {
        max-height: none;
        overflow-y: unset;
      }
    }
    &__option {
      padding: 8px 0px 6px 0px;
    }
  }
  .date-picker {
    &__month {
      margin: 30px;
      box-sizing: border-box;
      font-weight: 500;
    }
    &__weekdays {
      margin-right: -30px;
      margin-left:  -30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 24px;
      padding-bottom: 8px;
      border-top-width: 1px;
      border-top-style: solid;
      @include var('border-color', 'border');
    }
    &__weekday {
      cursor: default;
      display: inline-block;
      width: 12%;
      margin: 0 1%;
      text-align: center;
      &--col-6 {
        color: red;
      }
    }
    &__date {
      display: inline-block;
      width: 12%;
      margin: 0 1%;
      text-align: center;
      border-radius: $border-radius-small;
    }
  }
}
