.fullscreen-button-container {
  display: none;
  @include breakpoint('medium', true) {
    display: block;
  }
  button {
    margin: 0;
    @include var('border-color', 'primary');
    @include var('color', 'text');
    font-size: 20px;
    padding: 10px;
  }
}

.fullscreen-exit-button {
  position: fixed;
  z-index: 10000;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  .fa {
    margin-left: 10px;
  }
}
