.page-table {
    border-radius: 10px;
    @include var('background-color', 'primary-alt');
    overflow: hidden;
    .responsive-table-head {
      @include var('border-color', 'text-rgb', 'rgba', 0.125);
      border-right: none;
    }
    thead {
      @include var('background-color', 'tertiary-alt');
      font-weight: 600;
      text-transform: uppercase;
    }
    tbody {
      >tr {
        border-bottom: 1px solid;
        @include var('border-color', 'text-rgb', 'rgba', 0.125);
        &:last-child {
          border: none;
        }
      }
    }
    th, td {
      padding: 27px 15px;
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
    }
    th {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    thead {
      th {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
