.page-table {
    border-radius: 10px;
    @include add-border;
    @include var('background-color', 'primary-alt');
    overflow: hidden;
    .responsive-table-head {
      @include var('border-color', 'text-rgb', 'rgba', 0.125);
      border-right: none;
    }
    tbody {
      >tr {
        border-bottom: 1px solid;
        @include var('border-color', 'text-rgb', 'rgba', 0.125);
        &:last-child {
          border: none;
        }
      }
    }
    th, td {
      padding: 27px 15px;
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
    }
    th {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    thead {
      tr {
        top: inherit;
      }
      th {
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        top: inherit;
        @include var('background-color', 'tertiary-alt');
        font-weight: 600;
        text-transform: uppercase;
        &.sort:after {
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          content: "";
        }
        &.sort-desc:after {
          content: "\f0dd";
        }
        &.sort-asc:after {
          content: "\f0de";
        }
      }
    }
  }
