.page-chart {
  position: relative;
  border-radius: 10px;
  @include var('background-color', 'primary-alt');
  &:after {
    content: '';
    display: block;
    padding: 0 0 62.5%;
  }
}
.page-chart-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
}


.recharts-legend-item {
  position: relative;
  .recharts-legend-item-text {
    position: absolute;
    display: block;
    visibility: hidden;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
  }
  &.inactive {
    opacity: .5;
  }
  &:hover, &.hover {
    .recharts-legend-item-text {
      visibility: visible;
    }
  }
}

.recharts-cartesian-grid {
  line {
    @include var('stroke', 'text-rgb', 'rgba', 0.125);
  }
}
.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  @include var('stroke', 'text-rgb', 'rgba', 0.125);
}
.recharts-tooltip-cursor {
  @include var('stroke', 'text-rgb', 'rgba', 0.25);
}
.recharts-tooltip-wrapper {
  z-index: 100;
}
.recharts-default-tooltip {
  padding: 20px !important;
  border: none !important;
  border-radius: 10px;
  @include var('background-color', 'background', false, false, !important);
}
.recharts-tooltip-item-list {
  >li {
    color: inherit !important;
  }
}
.recharts-text {
  @include var('fill', 'text');
}
.stacked-vertical-bar-chart {
  .recharts-text {
    fill: transparent;
  }
}
.recharts-surface {
  overflow: visible;
}
.recharts-responsive-container {
  height: calc(100% - 14px) !important;
}

