.page-content {
  padding: 20px;
  border-radius: 10px;
  @include add-border;
  @include var('background-color', 'primary-alt');
  @include breakpoint(medium) {
    padding: 40px;
  }
  @include breakpoint(large) {
    padding: 80px;
  }
}
