.pie-chart-title-container {
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  font-weight: 500;
  &.label {
    margin-bottom: 0;
  }
}

.pie-chart-types-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
  font-weight: 500;
  border-top: 1px solid rgba(151, 151, 151, 0.4);
}

.pie-chart-type {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.pie-chart-type-color {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.pie-chart-label-line {
  stroke-width: 3;
  stroke-linecap: round;
}
.pie-chart-label-text {
  font-size: 16px;
  font-weight: 500;
  @include var('fill', 'text');
}
