.sitemessages {
  width: 100%;
  .sitemessage {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    @include var('background-color', 'primary-alt');
    &.sitemessage-error {
      @include var('background-color', 'error');
    }
    &.sitemessage-warning {
      @include var('background-color', 'warning');
    }
    .sitemessage-badge, .sitemessage-text {
      line-height: 1;
    }
    .sitemessage-text {
      margin-right: 10px;
    }
    .sitemessage-badge {
      border-radius: 10px;
      padding: 5px;
      background-color: rgba($color: #000000, $alpha: .3);
      margin-left: auto;
      margin-right: 10px;
      /*top: 7px;
      left: 20px;
      position: absolute;*/
    }
  }
}