.statistic {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  @include add-border;
  @include var('background-color', 'primary-alt');
  font-weight: 500;
  background-position: right 10px top 10px;
  background-repeat: no-repeat;
  background-size: auto 50%;
  &_status {
    &_error {
      @include var('background-color', 'error');
    }
    &_warning {
      @include var('background-color', 'warning');
    }
    &_loading {
      opacity: 0.5;
    }
  }
  &.statistic_direction_up {
    background-image: url('/dashboard-assets/images/statistic/statistic-neutral-direction-up.svg');
  }
  &.statistic_direction_down {
    background-image: url('/dashboard-assets/images/statistic/statistic-neutral-direction-down.svg');
  }
  &_positive {
    &.statistic_direction_up {
      background-image: url('/dashboard-assets/images/statistic/statistic-positive-direction-up.svg');
    }
    &.statistic_direction_down {
      background-image: url('/dashboard-assets/images/statistic/statistic-positive-direction-down.svg');
    }
    .statistic-period-value {
      color: #00b69b;
    }
  }
  &_negative {
    &.statistic_direction_up {
      background-image: url('/dashboard-assets/images/statistic/statistic-negative-direction-up.svg');
    }
    &.statistic_direction_down {
      background-image: url('/dashboard-assets/images/statistic/statistic-negative-direction-down.svg');
    }
    .statistic-period-value {
      color: #f93c65;
    }
  }
  .statistic-value {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .statistic-footer {
    &_loading {
      visibility: hidden;
    }
  }
  p {
    margin: 0 0 10px;
    &:last-child {
      margin: 0;
    }
  }
}

.statistic-period-icon {
  display: inline-block;
  width: (14px * 1.25);
  margin: 0 (10px / 1.25) 0 0;
  vertical-align: middle;
}

.filter-view-container {
  display: inline-block;
  @include var('background-color', 'primary-alt');
  border-radius: 10px;
  font-weight: 500;
  .filter-view-button {
    position: relative;
    display: inline-block;
    padding: 25px;
    border-right: 1px solid rgba(151, 151, 151, 0.4);
    &:last-child {
      border: none;
    }
    .datepicker-container {
      .select__menu {
        width: 350px;
      }
    }
    .select {
      &__value-container {
        min-width: 120px;
      }
      &__control {
        border: none;
        &--is-focused {
          .select__placeholder {
            color: hsl(0,0%,50%);
          }
        }
      }
      &__placeholder {
        @include var('color', 'text')
      }
      &__value-container {
        padding: 0;
        position: relative;
      }
    }
  }
}
