.vertical-bar-chart-container {
  @extend .line-chart;
  &:after {
    padding: 0;
  }
}

.vertical-bar-chart {
  .recharts-surface .recharts-cartesian-grid-horizontal line:nth-last-child(2),
  .recharts-surface .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0;
  }
}

.stacked-vertical-bar-chart-spacer {
  padding-bottom: 40%;
  @include breakpoint(medium) {
    padding-bottom: 30%;
  }
  @include breakpoint(large) {
    padding-bottom: 20%;
  }
}
