.vertical-bar-chart {
  @extend .line-chart;
  &:after {
    padding: 0;
  }
  &-container {
    position: relative;
    flex-grow: 1;
    min-height: 50px;
    .recharts-responsive-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .recharts-surface .recharts-cartesian-grid-horizontal line:nth-last-child(2),
  .recharts-surface .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0;
  }
}

.stacked-vertical-bar-chart-legends-list {
  @extend .line-chart-legend-list;
}
