body {
  &.body_resizing {
    .dashboard-content {
      transition: none;
    }
  }
}

.dashboard-content {
  flex: 1 0 auto;
  padding: (80px + 20px) 0 40px;
  @include var('background-color', 'secondary-alt');
  transition: padding-left 0.25s ease;
  transition: margin-left 0.25s ease;
  @include breakpoint(medium) {
    padding: (80px + 30px) 0 60px;
  }
  @include breakpoint(large) {
    padding: (80px + 40px) 0 80px;
  }

}

.dashboard_sidebar_active {
  .dashboard-content {
    @include breakpoint(medium) {
      margin-left: 200px;
    }
    @include breakpoint(large) {
      margin-left: 240px;
    }
  }
  &.sidebar_compact {
    .dashboard-content {
      @include breakpoint(medium) {
        margin-left: 86px;
      }
    }
  }
}
