.dashboard-content {
  flex: 1 0 auto;
  @include var('background-color', 'secondary-alt');
  overflow-x: hidden;
  display: flex;
  > * {
    width: 0 !important;
    flex-shrink: 1;
    flex-grow: 0;
    &:first-child {
      flex-grow: 1;
      width: 100%;
      flex-shrink: 0;
    }
  }
  > .container {
    background-color: inherit;
  }
  transition: padding-left 0.25s ease;
  transition: margin-left 0.25s ease;
  padding: (80px + 20px) 0 40px;
  @include breakpoint(medium) {
    padding: (80px + 30px) 0 60px;
  }
  @include breakpoint(large) {
    padding: (80px + 40px) 0 80px;
  }
  &.no-header {
    padding: 20px 0 40px;
  }

}

.dashboard_fullscreen .dashboard-content {
  cursor: none;
  transition: none;
}

.dashboard_fullscreen_moving .dashboard-content {
  cursor: unset;
}

.dashboard_sidebar_active {
  .dashboard-content {
    @each $breakpoint, $size in $sidebar-sizes {
      $type: type-of($size);
      @if $type == 'number' {
        @include breakpoint($breakpoint, bypass) {
          margin-left: $size;
        }
      }
    }
  }
}

body.body_resizing .dashboard-content {
  transition: none;
}


.dashboard_sidebar_active.sidebar_compact {
  .dashboard-content {
    @each $breakpoint, $size in $sidebar-compact-sizes {
      @include breakpoint($breakpoint, bypass) {
        margin-left: $size;
      }
    }
  }
}
