.dashboard-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 20px rgba($black, 0.125);
  @include var('background-color', 'primary-alt');
  z-index: 100;
  transition: box-shadow 0.25s ease;
  >.container {
    flex: 0 0 100%;
  }
  .dashboard-search {
    max-width: $page-width / 2;
  }
}

.dashboard-header-cell {
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  &_separator {
    position: relative;
    &:after {
      @include breakpoint(large) {
        position: absolute;
        content: '';  
        border-right: 1px solid rgba(151, 151, 151, 0.4);
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 50px;
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  &_sidebar {
    padding: 0 !important;
    flex: 0 0 25%;
    max-width: 25%;
    @include breakpoint(medium) {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
  &_logo {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    max-width: 50%;
    @include breakpoint(medium) {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
}

.dashboard-header-sidebar-button {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 -14px;
  padding: 0;
  background-color: transparent;
  @include var('color', 'text');
  &:hover,
  &:active {
    @include var('color', 'primary');
    opacity: 1;
  }
  &:active {
    opacity: 0.875;
  }
}
.dashboard-header-sidebar-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-header-logo {
  display: block;
  width: 75px;
}

.header-content-container {
  margin-left: 28px;
  width: calc(100% - 38px);
  @include breakpoint(large) {
    width: calc(100% - 76px);
  }
}

body {
  &.body_resizing {
    .dashboard-header {
      transition: none;
    }
  }
  &.body_at-top {
    .dashboard-header {
      box-shadow: none;
    }
  }
}

.contact-content {
 &-title{
  margin-top: 2px;
 }
}
