.dashboard-sidebar-profile {
  @include breakpoint(large) {
    display: none;
  }
  .profile-content {
    transition: opacity 0.25s ease;
  }
}

.dashboard-sidebar-menu-item-button-text {
  transition: opacity 0.25s ease;
}

.dashboard-sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  max-width: 320px;
  padding: 20px;
  @include var('background-color', 'primary-alt');
  z-index: 90;
  overflow: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: width 0.25s ease, box-shadow 0.0625s ease 0.1875s, transform 0.25s ease;
  @include breakpoint(medium) {
    width: 200px;
  }
  @include breakpoint(large) {
    width: 240px;
  }
  &_active {
    transform: translateX(0);
    box-shadow: 20px 0px 20px -20px rgba($black, 0.125);
    transition: width 0.25s ease, box-shadow 0.0625s ease, transform 0.25s ease;
    @include breakpoint(medium) {
      box-shadow: none;
    }
  }
  &_compact {
    @include breakpoint(medium) {
      width: 86px;
    }
    .dashboard-sidebar-menu-item-button-text {
      @include breakpoint(medium) {
        opacity: 0;
      }
    }
    .dashboard-sidebar-profile {
      .profile-content {
        @include breakpoint(medium) {
          opacity: 0;
        }
      }
    }
  }
  .nav-separator {
    color: rgba(151, 151, 151, 0.4);
    border-color: rgba(151, 151, 151, 0.4);
    margin: -20px -20px 20px;
  }  
}

.dashboard-sidebar-menu-item {
  position: relative;
  margin: 0 0 10px;
  &:last-child {
    margin: 0;
  }
}
.dashboard-sidebar-menu-item-button {
  display: block;
  width: 100%;
  padding: 10px 14px;
  background-color: transparent;
  @include var('color', 'text');
  text-align: left;
  // text-overflow: ellipsis;
  white-space: nowrap;
  // overflow: hidden;
  &:hover {
    @include var('background-color', 'primary');
    @include var('color', 'white');
  }
  &:hover,
  &:active {
    opacity: 1;
  }
  &:active {
    opacity: 0.875;
  }
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    @include var('background-color', 'primary');
  }
  &_active {
    &:after {
      display: block;
    }
  }
}
.dashboard-sidebar-menu-item-button-icon {
  width: 20px;
  margin: 0 10px 0 0;
  text-align: center;
}

.dashboard-sidebar-search {
  margin: 0 0 20px;
  @include breakpoint(medium) {
    display: none;
  }
}
.dashboard-sidebar-menu {
  margin: 0 0 40px;
  &:last-child {
    margin: 0;
  }
  &_other {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
}

body {
  &.body_resizing {
    .dashboard-sidebar {
      transition: none;
    }
    .dashboard-sidebar-menu-item-button-text {
      transition: none;
    }
    .dashboard-sidebar-profile {
      .profile-content {
        transition: none;
      }
    }
  }
}
