.page-title {
  margin: 0 0 20px;
  @include breakpoint(medium) {
    margin: 0 0 30px;
  }
  @include breakpoint(large) {
    margin: 0 0 40px;
  }
  + .page-subtitle {
    margin-top: -10px;
    @include breakpoint(medium) {
      margin-top: -20px;
    }
    @include breakpoint(large) {
      margin-top: -30px;
    }
  }
}

// .preamble {
//   color: $secondary-alt-color;
//   font-size: 2rem;
//   @include breakpoint(medium) {
//     font-size: 2.4rem;
//   }
//   @include breakpoint(large) {
//     font-size: 2.8rem;
//   }
// }

.visually-hidden {
  @include visually-hidden;
}
