@each $breakpoint in map-keys($breakpoints) {
  $breakpoint-class: if($breakpoint == small, '', '-#{$breakpoint}');
  $breakpoint-param: if($breakpoint == small, false, $breakpoint);

  @include breakpoint($breakpoint-param) {

    .container#{$breakpoint-class} {
      max-width: $page-width + (20px * 2);
      margin: 0 auto;
      padding: 0 20px;
      @include breakpoint(medium) {
        max-width: $page-width + (40px * 2);
        padding: 0 40px;
      }
      @include breakpoint(large) {
        max-width: $page-width + (80px * 2);
        padding: 0 80px;
      }
    }

    .container-extra-narrow#{$breakpoint-class} {
      max-width: $page-width-extra-narrow + (20px * 2);
      @include breakpoint(medium) {
        max-width: $page-width-extra-narrow + (40px * 2);
      }
      @include breakpoint(large) {
        max-width: $page-width-extra-narrow + (80px * 2);
      }
    }
    .container-narrow#{$breakpoint-class} {
      max-width: $page-width-narrow + (20px * 2);
      @include breakpoint(medium) {
        max-width: $page-width-narrow + (40px * 2);
      }
      @include breakpoint(large) {
        max-width: $page-width-narrow + (80px * 2);
      }
    }
    .container-wide#{$breakpoint-class} {
      max-width: $page-width-wide + (20px * 2);
      @include breakpoint(medium) {
        max-width: $page-width-wide + (40px * 2);
      }
      @include breakpoint(large) {
        max-width: $page-width-wide + (80px * 2);
      }
    }
    .container-extra-wide#{$breakpoint-class} {
      max-width: $page-width-extra-wide + (20px * 2);
      @include breakpoint(medium) {
        max-width: $page-width-extra-wide + (40px * 2);
      }
      @include breakpoint(large) {
        max-width: $page-width-extra-wide + (80px * 2);
      }
    }
    .container-unlimited#{$breakpoint-class} {
      max-width: none;
    }

    .container-inner#{$breakpoint-class} {
      position: relative;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
    }
    .container-outer#{$breakpoint-class} {
      position: relative;
      left: 50%;
      right: 50%;
      width: 100vw;
      margin: 0 -50vw 0 -50vw;
    }

    .container-negative-margin#{$breakpoint-class} {
      margin: 0 -20px;
      @include breakpoint(medium) {
        margin: 0 -40px;
      }
      @include breakpoint(large) {
        margin: 0 -80px;
      }
    }

  }
}
