@each $breakpoint in map-keys($breakpoints) {
  $breakpoint-class: if($breakpoint == small, '', '-#{$breakpoint}');
  $breakpoint-param: if($breakpoint == small, false, $breakpoint);

  @include breakpoint($breakpoint-param) {

    .container#{$breakpoint-class} {
      max-width: none;
      margin: 0 auto;
      padding: 0 20px;
    }

    .container-unlimited#{$breakpoint-class} {
      max-width: none;
    }

    .container-inner#{$breakpoint-class} {
      position: relative;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
    }
    .container-outer#{$breakpoint-class} {
      position: relative;
      left: 50%;
      right: 50%;
      width: 100vw;
      margin: 0 -50vw 0 -50vw;
    }

    .container-negative-margin#{$breakpoint-class} {
      margin: 0 -20px;
      @include breakpoint(medium) {
        margin: 0 -40px;
      }
      @include breakpoint(large) {
        margin: 0 -80px;
      }
    }

  }
}
